/* css reset start */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* css reset end */

/* html start */

html{
    scroll-behavior: smooth;
}

/* html end */

/* header start */

header {
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}


header .navbar {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header .navbar nav ul {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}

header .navbar nav ul li {
    margin: 0 20px;
    text-transform: uppercase;
}

header .navbar nav ul li a {
    text-transform: uppercase;
    color: white;
}

header .navbar form input[type='search'] {
    background-color: white;
    outline: none;
    width: 65%;
    padding: 6px 12px;
    border-radius: 18px;
    border: 1px solid white;
}

/* header end */

/* home section start */

#home {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url('../images/Home-Background.jpg');
    background-size: cover;
}

#home .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    margin: 0 0 0 70px;
}

#home .left img {
    width: 15%;
    margin: 0 0 20px 0;
}

#home .left h1 {
    color: white;
    margin: 0 0 20px 0;
}

#home .left h3 {
    color: white;
    margin: 0 0 20px 0;
}

#home .left a {
    color: black;
    margin: 0 0 20px 0;
    padding: 10px 20px;
    background-color: white;
    text-transform: uppercase;
    border-radius: 20px;
}

#home .left p {
    color: white;

}

#home .right {
    width: 60%;
}

#home .right .large-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

#home .right .large-image img {
    width: 60%;
}

#home .right .small-image {
    position: absolute;
    bottom: 0;
}

#home .right .leaf-image {
    position: absolute;
    bottom: -7%;
    width: 21%;
    right: 13%;
}

/* home section end */

/* menu section end */

#menu {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#menu .upper {
    text-align: center;
}

#menu .upper h1 {
    margin: 0 0 20px 0;
}

#menu .middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin: 40px 80px;
}

#menu .middle img {
    width: 70%;
}

#menu .lower {
    text-align: center;
}

#menu .lower a {
    color: white;
    padding: 10px 20px;
    background-color: black;
    text-transform: uppercase;
    border-radius: 20px;
}

/* menu section end */

/* menu-info section start */

#menu-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 40vh;
    background-color: rgb(26, 16, 16);
}

#menu-info .upper {
    text-align: center;
}

#menu-info .upper h1 {
    color: white;
}

#menu-info .middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    gap: 30px;
    margin: 35px 80px;
}

#menu-info .middle {
    color: white;
}

#menu-info .lower {
    text-align: center;
}

#menu-info .lower a {
    color: black;
    padding: 10px 20px;
    background-color: white;
    text-transform: uppercase;
    border-radius: 20px;
}

/* menu-info section end */

/* discount section start */

#discount {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 0px 180px;

}

#discount .upper,
#discount .lower {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

#discount .upper .left,
#discount .lower .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#discount .upper .left img,
#discount .lower .right img {
    width: 60%;
}

#discount .upper .right,
#discount .lower .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

#discount .upper .right a,
#discount .lower .left a {
    color: white;
    padding: 10px 20px;
    background-color: black;
    text-transform: uppercase;
    border-radius: 20px;
}

/* discount section end */


/* custom scrollbar start */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: white;
    border-radius: 4px;
    border: 1px solid blue;
}

/* custom scrollbar end */