/* css reset start */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: none;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
}

/* css reset end */

/* html start */

html {
    scroll-behavior: smooth;
}

/* html end */

/* header start */

header {
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    margin-left: 30px;
}

header .logo img {
    width: 50%;
}

header .navbar {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .navbar nav ul {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}

header .navbar nav ul li {
    margin: 0 20px;
    text-transform: uppercase;
}

header .navbar nav ul li a {
    padding: 10px 8px;
    border-radius: 10px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

header .fa-solid {
    display: none;
}

header .navbar form input[type='search'] {
    background-color: white;
    outline: none;
    width: 65%;
    padding: 6px 12px;
    border-radius: 18px;
    border: 1px solid white;
}

/* header end */

/* progress bar start  */

.progress{
    height: 5px;
    width: 100%;
    position: fixed;
    top: 10vh;
    z-index: 1;
}

.highlight{
    transition: width 0.5s linear;
    width: 0%;
    background-color: green;
    height: 100%;
}

/* progress bar end  */

/* cookie set start  */

.cookie {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0px;
    background-color: darkgrey;
    border: 1px solid white;
    position: fixed;
    bottom: 0;
    z-index: 10;
    box-shadow: 0px -3px 176px 157px black;
    margin: 0 5px;
    visibility: hidden;
}

.cookie.hide{
    display: none;
}

.cookie .left {
    width: 60%;
    padding: 0 15px;
}

.cookie .left h2 {
    padding-bottom: 5px;
    color: black;
    font-size: 25px;
}

.cookie .left p {
    color: black;
    font-size: 17px;
}

.cookie .left p span {
    color: blue;
    text-decoration: underline;
    font-weight: 100;
    padding-left: 5px;
    cursor: pointer;
}

.cookie .right {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 40%;
    padding: 0 15px;
}

.cookie .right .preference {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.cookie .right .reject {
    padding: 5px 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.cookie .right .accept {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

/* cookie set end  */

/* home section start */

#home {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url('../images/Home-Background.jpg');
    background-size: cover;
    position: relative;
}

#home .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    margin: 0 0 0 70px;
}

#home .left img {
    width: 32%;
    margin: 0 0 20px 0;
}

#home .left h1 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px 0;
}

#home .left h3 {
    color: white;
    font-size: 20px;
    margin: 0 0 20px 0;
}

#home .left a {
    color: black;
    margin: 0 0 20px 0;
    padding: 10px 20px;
    background-color: white;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

#home .left p {
    color: white;
    font-size: 18px;
}

#home .right {
    width: 60%;
}

#home .right .large-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

#home .right .large-image img {
    width: 70%;
}

#home .right .small-image {
    position: absolute;
    bottom: 0;
}

#home .right .leaf-image {
    position: absolute;
    bottom: -7%;
    width: 21%;
    right: 15%;
}

/* home section end */

/* menu section end */

#menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: relative;
    padding: 20px 0;
}

#menu .upper {
    text-align: center;
}

#menu .upper h1 {
    font-size: 30px;
    margin: 0 0 20px 0;
}

#menu .upper p {
    font-size: 20px;
}

#menu .middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin: 40px 80px;
}

#menu .middle img {
    width: 70%;
}

#menu .middle p {
    font-size: 20px;
}

#menu .lower a {
    color: white;
    padding: 10px 20px;
    background-color: black;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

/* menu section end */

/* menu-info section start */

#menu-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: rgb(26, 16, 16);
    padding: 30px 0;
}

#menu-info .upper {
    text-align: center;
}

#menu-info .upper h1 {
    color: white;
    font-size: 30px;
}

#menu-info .middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    gap: 30px;
    margin: 35px 80px;
    color: white;
}

#menu-info .middle p {
    font-size: 17px;
}

#menu-info .lower {
    text-align: center;
}

#menu-info .lower a {
    color: black;
    padding: 10px 20px;
    background-color: white;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

/* menu-info section end */

/* discount section start */

#discount {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 180px;
}

#discount .upper,
#discount .lower {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#discount .upper .left,
#discount .lower .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#discount .upper .left img,
#discount .lower .right img {
    width: 60%;
}

#discount .upper .right,
#discount .lower .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

#discount .upper .right h1,
#discount .lower .left h1 {
    font-size: 30px;
}

#discount .upper .right p,
#discount .lower .left p {
    font-size: 17px;
}


#discount .upper .right a,
#discount .lower .left a {
    color: white;
    padding: 10px 20px;
    background-color: black;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

/* discount section end */

/* pizza section start */

#pizza {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    background-image: url('../images/Home-Background.jpg');
    background-size: cover;
    position: relative;
    padding: 20px;
}

#pizza .leaf-two-side {
    position: absolute;
    top: -25%;
    width: 100%;
}

#pizza .upper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: white;
    margin-top: 34px;
}

#pizza .upper h1 {
    font-size: 30px;
}

#pizza .upper p {
    font-size: 17px;
}

#pizza .middle {
    width: 10%;
    height: 10px;
    background-color: white;
}

#pizza .lower {
    text-align: end;
    position: relative;
}

#pizza .lower .image-one {
    width: 50%;
    position: relative;
    bottom: -25%;
}

#pizza .lower .image-two {
    width: 27%;
    position: absolute;
    bottom: 0%;
    left: 41%;
}

/* pizza section end */

/* pizza-info section start */

#pizza-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 60px;
}

#pizza-info h1 {
    font-size: 30px;
}

#pizza-info p {
    font-size: 17px;
}

#pizza-info .upper {
    display: flex;
    margin-top: 40px;
    align-items: center;
    width: 100%;
}

#pizza-info .upper .left,
#pizza-info .upper .middle,
#pizza-info .upper .right {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

#pizza-info .lower {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    text-align: center;
}

#pizza-info .lower a {
    color: black;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

/* pizza-info section end */

/* contact section start */

#contact {
    background-color: rgb(26, 16, 16);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

#contact .contact-info {
    display: flex;
    flex-direction: column;
    gap: 45px;
    text-align: center;
}

#contact .contact-info h1 {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
}

#contact .contact-info p {
    color: white;
    font-size: 17px;
}

#contact .contact-info form {
    width: 100%;
}

#contact .contact-info form input[type="email"] {
    position: relative;
    background-color: white;
    outline: none;
    width: 50%;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid white;
}

#contact .contact-info form a {
    position: absolute;
    color: white;
    padding: 10px 20px;
    background-color: grey;
    text-transform: uppercase;
    border-radius: 20px;
    right: 34%;
    cursor: pointer;
}

/* contact section end */

/* footer start */

footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

footer h1{
    font-size: 30px;
}

footer p{
    font-size: 17px;
}

footer .upper {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 20px 80px;
}

footer .upper .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer .upper .right {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

footer .upper .left ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

footer .upper .left ul li a {
    padding: 8px 10px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

footer .upper .left ul li:nth-child(1) a {
    background-color: red;
    cursor: pointer;
}

footer .upper .left ul li:nth-child(2) a {
    background-color: blue;
    cursor: pointer;
}

footer .upper .left ul li:nth-child(3) a {
    background-color: rgb(38, 38, 129);
    cursor: pointer;
}

footer .upper .left ul li:nth-child(4) a {
    background-color: green;
    cursor: pointer;
}

footer .upper .right .footer-link {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer .upper .right .footer-link ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .upper .right .footer-link ul li a {
    color: black;
    cursor: pointer;
}

footer .lower {
    background-color: black;
    text-align: center;
}

footer .lower p{
    color: white;
}

footer .lower a{
    font-size: 20px;
    color: yellow;
    cursor: pointer;
}

/* footer end */

/* custom scrollbar start */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: white;
    border-radius: 4px;
    border: 1px solid blue;
}

/* custom scrollbar end */