/* css reset start */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* css reset end */

/* html start */

html {
    scroll-behavior: smooth;
}

/* html end */

/* header start */

header {
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}


header .navbar {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header .navbar nav ul {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}

header .navbar nav ul li {
    margin: 0 20px;
    text-transform: uppercase;
}

header .navbar nav ul li a {
    text-transform: uppercase;
    color: white;
}

header .navbar form input[type='search'] {
    background-color: white;
    outline: none;
    width: 65%;
    padding: 6px 12px;
    border-radius: 18px;
    border: 1px solid white;
}

/* header end */

/* home section start */

#home {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url('../images/Home-Background.jpg');
    background-size: cover;
}

#home .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    margin: 0 0 0 70px;
}

#home .left img {
    width: 15%;
    margin: 0 0 20px 0;
}

#home .left h1 {
    color: white;
    margin: 0 0 20px 0;
}

#home .left h3 {
    color: white;
    margin: 0 0 20px 0;
}

#home .left a {
    color: black;
    margin: 0 0 20px 0;
    padding: 10px 20px;
    background-color: white;
    text-transform: uppercase;
    border-radius: 20px;
}

#home .left p {
    color: white;

}

#home .right {
    width: 60%;
}

#home .right .large-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

#home .right .large-image img {
    width: 60%;
}

#home .right .small-image {
    position: absolute;
    bottom: 0;
}

#home .right .leaf-image {
    position: absolute;
    bottom: -7%;
    width: 21%;
    right: 13%;
}

/* home section end */

/* menu section end */

#menu {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#menu .upper {
    text-align: center;
}

#menu .upper h1 {
    margin: 0 0 20px 0;
}

#menu .middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin: 40px 80px;
}

#menu .middle img {
    width: 70%;
}

#menu .lower {
    text-align: center;
}

#menu .lower a {
    color: white;
    padding: 10px 20px;
    background-color: black;
    text-transform: uppercase;
    border-radius: 20px;
}

/* menu section end */

/* menu-info section start */

#menu-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 40vh;
    background-color: rgb(26, 16, 16);
}

#menu-info .upper {
    text-align: center;
}

#menu-info .upper h1 {
    color: white;
}

#menu-info .middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    gap: 30px;
    margin: 35px 80px;
}

#menu-info .middle {
    color: white;
}

#menu-info .lower {
    text-align: center;
}

#menu-info .lower a {
    color: black;
    padding: 10px 20px;
    background-color: white;
    text-transform: uppercase;
    border-radius: 20px;
}

/* menu-info section end */

/* discount section start */

#discount {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 0px 180px;

}

#discount .upper,
#discount .lower {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

#discount .upper .left,
#discount .lower .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#discount .upper .left img,
#discount .lower .right img {
    width: 60%;
}

#discount .upper .right,
#discount .lower .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

#discount .upper .right a,
#discount .lower .left a {
    color: white;
    padding: 10px 20px;
    background-color: black;
    text-transform: uppercase;
    border-radius: 20px;
}

/* discount section end */

/* pizza section start */

#pizza {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    background-image: url('../images/Home-Background.jpg');
    background-size: cover;
    position: relative;
    padding: 20px;
}

#pizza .leaf-two-side {
    position: absolute;
    top: -25%;
    width: 100%;
}

#pizza .upper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: white;
    margin-top: 34px;
}

#pizza .middle {
    width: 10%;
    height: 10px;
    background-color: white;
}

#pizza .lower {
    text-align: end;
    position: relative;
    height: 50vh;
}

#pizza .lower .image-one {
    width: 50%;
    position: relative;
    bottom: -25%;
}

#pizza .lower .image-two {
    width: 27%;
    position: absolute;
    position: absolute;
    bottom: -57%;
    left: 39%;
}

/* pizza section end */

/* pizza-info section start */

#pizza-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 70vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
}

#pizza-info .upper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    height: 35vh;
    width: 100%;
}

#pizza-info .lower {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 35vh;
    width: 100%;
    text-align: center;
}

#pizza-info .lower a {
    color: black;
    font-weight: bold;
}

/* pizza-info section end */

/* contact section start */

#contact {
    background-color: rgb(26, 16, 16);
    position: relative;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    text-align: center;
}

#contact img {
    position: absolute;
    top: -40%;
    width: 85%;
}

#contact .contact-info h1 {
    color: white;
    text-transform: uppercase;
}

#contact .contact-info p {
    color: white;
}

#contact .contact-info form {
    width: 100%;
}

#contact .contact-info form input[type="email"] {
    position: relative;
    background-color: white;
    outline: none;
    width: 50%;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid white;
}

#contact .contact-info form a {
    position: absolute;
    color: white;
    padding: 10px 20px;
    background-color: grey;
    text-transform: uppercase;
    border-radius: 20px;
    right: 34%;
}

/* contact section end */

/* footer start */

footer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 40vh;
    position: relative;
    padding: 20px 80px;
}

footer .left{
    width: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer .right{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 35px;
}

footer .left ul{
    display:flex;
    flex-direction:row;
    gap:20px;
}

footer .left ul li a{
    padding: 8px 10px;
    border-radius: 50%;
    color: white;
}

footer .right .footer-link{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer .right .footer-link ul{
    display:flex;
    flex-direction:column;
    gap:20px;
}

footer .right .footer-link ul li a{
    color: black;
}



/* footer end */

/* custom scrollbar start */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: white;
    border-radius: 4px;
    border: 1px solid blue;
}

/* custom scrollbar end */